._label {
  position: static !important;
}

._center {
  text-align: center;
}

._profile__avatar__wrap {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: #26a69a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

._profile__avatar__wrap img {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  object-fit: cover;
}

._flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
